<h1>Books</h1>
<% @books.each do |book| %>
  <h5>title</h5>
  <span><%= book.title %></span>
  <h5>body</h5>
  <span><%= book.body %></span>
  <p>
    <%= link_to "show", book_path(book.id) %>
    <%= link_to "edit", edit_book_path(book.id) %>
    <%= link_to "destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </p>  
<% end %>


<%= form_with model:Book.new, url:'/books', local:true do |f| %>


  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <%= f.submit '新規投稿' %>
<% end %>